.paper {
	font-family: "Patrick Hand", cursive;
	position: relative;
	line-height: 50px;
	box-sizing: content-box;
	width: 100%;
	background-color: white;
	margin: 0 auto;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s, margin 0.3s;

	&:before {
		content: "";
		position: absolute;
		height: 109%;
		width: 2px;
		background: rgba(255, 0, 0, 0.3);
		margin-left: 48px;
		z-index: 2;
	}

	.lines {
		top: 50px;
		position: relative;
		box-sizing: content-box;
		padding-right: 8px;
		padding-left: 56px;
    cursor: pointer;
		background-image: repeating-linear-gradient(
			white 0px,
			white 23.5px,
      white 47.5px,
			steelblue 50px
		);

		ul {
			margin: 0;
      >li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        mat-icon {
          padding-top: 12px;
          color: darkblue;
        }
      }
		}
	}
 .active {
  color: red;
  text-decoration: underline;
}
	.holes {
		position: absolute;
		height: 100%;
		width: 48px;
		margin-top: 1px;
		margin-bottom: 1px;
		top: 0;
		left: 0;

		.hole {
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: gainsboro;
			left: 12.5px;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;

			&:nth-child(1) {
				top: 65px;
			}

			&:nth-child(2) {
				top: 262.5px;
			}

			&:nth-child(3) {
				top: 465px;
			}

		}
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.8em;
	}
	.paper {
		margin-top: -55px;
		-webkit-transform: scale(0.8);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.8);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 1.5em;
	}
	.paper {
		margin-top: -82.5px;
		-webkit-transform: scale(0.7);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.7);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 600px) {
	body {
		overflow: hidden;
	}
	.paper {
		margin-top: -110px;
		-webkit-transform: scale(0.6);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.6);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 450px) {
	body {
		overflow: hidden;
	}
	.paper {
		margin-top: -137.5px;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.5);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-width: 430px) {
	h1 {
		text-align: left;
		font-size: 1.3em;
		margin-left: 12px;
	}
	.paper {
		margin: 0;
		margin-left: 12px;
		margin-top: -110px;
		-webkit-transform: scale(0.6);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 0% 50%;
		transform: scale(0.6);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 375px) {
	body {
		overflow: hidden;
	}
	h1 {
		text-align: left;
		font-size: 1.3em;
		margin-left: 12px;
	}
	.paper {
		margin: 0;
		margin-left: 12px;
		margin-top: -165px;
		-webkit-transform: scale(0.4);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 0% 50%;
		transform: scale(0.4);
		transition: transform 0.3s, margin 0.3s;
	}
}
.deleted {
  text-decoration: line-through;
}

.w-full {
  width: 100%;
}
@media only screen and (max-height: 300px) {
	body {
		overflow: hidden;
	}
	h1 {
		text-align: left;
		font-size: 1.3em;
		margin-left: 12px;
	}
	.paper {
		margin: 0;
		margin-left: 12px;
		margin-top: -192.5px;
		-webkit-transform: scale(0.3);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 0% 50%;
		transform: scale(0.3);
		transition: transform 0.3s, margin 0.3s;
	}
}
.warning {
  color: dodgerblue;
}
.heading-sort {
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 40px;
}
