
<mat-form-field class="w-full primary">
  <mat-label>
    {{  'search' | transloco}}
  </mat-label>
  <input matInput [attr.type]="'text'" type="text" #searchField [placeholder]="'search' | transloco"
    [(ngModel)]="search" />
</mat-form-field>

<mat-paginator [length]='pageState().total' [pageIndex]="pageState().page" [pageSize]='pageState().pageSize'  (page)="changePage($event)" />

<div class="paper">
  <div class="lines">
    <div>
      <strong class="heading-sort" (click)="sortBy('name',1)">    {{  'activities' | transloco}}

        <mat-icon aria-hidden="false" [fontIcon]=" pageState().sortOrder | sortOrderIcon">
        </mat-icon>
      </strong>
      <ul>
        @if(pageState().availableData.length > 0) {
          @for (activity of pageState().availableData; track activity.name;) {
            <li (click)="selectActivity(activity)">
              <span [class.active]="$any(pageState().selectedActivity)?.name === activity.name" [class.deleted]="activity.deleted">
                {{ activity.name }}
              </span>
              <mat-icon (click)="removeActivity(activity.name)" click-stop-propagation>delete_forever</mat-icon>
            </li>
          }
        } @else {
          <li >
            <span class="warning">
              {{  'not_found' | transloco}}
            </span>
          </li>
        }

      </ul>
    </div>
  </div>
  <div class="holes">
    <div class="hole"></div>
    @if(pageState().availableData.length > 3) {
      <div class="hole"></div>
    }
    @if(pageState().availableData.length > 6) {
      <div class="hole"></div>
    }
  </div>
</div>

{{availableData()[0]?.name}}
